<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jt.chatmodule">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
        <activity android:name=".view.activity.MapActivity"></activity>
        <activity android:name=".view.activity.ChatRoomActivity" />
        <activity android:name=".view.activity.PhoneManMainActivity" />
        <activity android:name=".view.activity.AddActivity" />
        <activity android:name=".view.activity.LinkmanActivity" />
    </application>

</manifest>